---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Times, Times New Roman, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       darken(#828282, 20%);
$background-color: #ffffff;
$brand-color:      #DAA520;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-medium: lighten($grey-color, 20%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;



// socicon
@font-face {
	font-family: 'socicon';
    src: url('../font/socicon/socicon.eot');
    src: url('../font/socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../font/socicon/socicon.woff') format('woff'),
         url('../font/socicon/socicon.ttf') format('truetype'),
         url('../font/socicon/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

.socicon {
	font-family: 'socicon' !important; 
    color: lighten($brand-color, 15%);
    &:hover {
        color: darken($brand-color, 5%);
    }
}
