---
layout: default
title: Blog
permalink: /blog/
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
     
     <div class="post">

      <header class="post-header">
        <p class="post-meta">{{ post.date | date: "%m / %d / %Y "}}{{ '&nbsp; | &nbsp;'}}{% if post.meta %}{{ post.meta | upcase }}{% endif %}</p> 
        <h1 class="post-title">{{ post.title }}</h1>
      </header>
     
      <article class="post-content">
        {{ post.content }}
      </article>
      <br/>
    </div>

    {% endfor %}
  </ul>

</div>
