<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col">
        <ul class="social-nav-list">
          {% if site.instagram_username %}
          <li>
            <a href="https://instagram.com/{{ site.instagram_username }}"><span class="socicon">x</span></a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}"><span class="socicon">a</span></a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li>
            <a href="https://ca.linkedin.com/in/{{ site.linkedin_username }}"><span class="socicon">j</span>
            </a>
          </li>
          {% endif %}

          {% if site.soundcloud_username %}
          <li>
            <a href="https://soundcloud.com/{{ site.soundcloud_username }}"><span class="socicon">n</span>
            </a>
          </li>
          {% endif %}

          <li><a href="mailto:{{ site.email }}"><span class="socicon">@</span></a></li>

          <li>
            <a href="{{ "/feed.xml"| prepend: site.baseurl}}"><span class="socicon">,</span>
            </a>
          </li>

        </ul>
      </div>

    </div>

  </div>

</footer>
