<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

		<div class="home-splash">
	     <img src="{{ site.baseurl }}/images/mei-gui.png">
       <div class="text-buttons-container">
         <h1 class="title"></h1>
         <div class="buttons">
           <!-- <a href="https://open.spotify.com/playlist/2qHbiSGUnjSanh3l9yNFaD?si=1c056e19ef684a35&pt=458a6a7f07a90212ece772ed5a58ab31">
             <button>Spotify</button>
           </a>
           <a href="https://www.youtube.com/playlist?list=PLRYEGrtWppP1aHHvXZSR0ax1lqZkN0C-3">
           <button >Youtube</button>
           </a>
           <a href="https://on.soundcloud.com/4iho1">
           <button>Soundcloud</button>
           </a>
           <a href="https://music.apple.com/us/playlist/coming-home/pl.u-AkAmPlpf2pGV9eP">
           <button>Apple Music</button>
           </a> -->
         </div>
       </div>
		</div>

    <!-- <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div> -->

    {% include footer.html %}

  </body>

</html>
