<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

		<div class="home-splash">
      <a href="https://ditto.fm/mei-gui/presavecallback?context=pre_save&service=youtubemusic&redirecturl&actionid&order=6712b961056b768b2681c4bc&user=Zanny%20Yu&status=success&origin=presavecallback">
       <img src="{{ site.baseurl }}/images/mei-gui.png" class="image" style="width:100%">
       <div class="middle">
         <div class="text">Pre-save  🎧</div>
       </div>
      </a>
		</div>

    {% include footer.html %}

  </body>

</html>
